__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
/mvenv/

/data/chats/*
/data/models/blip/*
/data/models/easyocr/*
/data/settings.db
notebooks/.ipynb_checkpoints/
models/checkpoints/
/tests/
_internal/
Output/
/Milana
Milana.exe
/Milana.spec
/start_milana.cmd
/launch_milana.cmd
/run_milana.sh